@model OperationModel

@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Index" method="Post">
    <div class="form-group">
        <div class="row">
            <label asp-for="FirstNumber" class="col-lg-3"></label>
            <input type="number" asp-for="FirstNumber" class="col-lg-3"/>
        </div>
        <div class="row">
            <label asp-for="SecondNumber" class="col-lg-3"></label>
            <input type="number" asp-for="SecondNumber" class="col-lg-3"/>
        </div>
        <div class="row">
            <label asp-for="Sign" class="col-lg-3"></label>
            <select asp-for="Sign" class="col-lg-3" asp-items="Html.GetEnumSelectList<OperationSign>()">
                <option selected="selected" value="">Select</option>
            </select>
        </div>
        <div class="row">
            <label asp-for="Result" class="col-lg-3"></label>
            <input type="number" asp-for="Result" disabled="disabled" class="col-lg-3"/>
        </div>
        <div class="row">
            <input type="submit" value="Submit" asp-action="Index" class="col-lg-3"/>
        </div>
    </div>
</form>
